@import url(../style-2.css);

body {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.door-container {
  width: 100%;
  height: 80vh;
  max-height: 700px;
  display: flex;
  padding: 8px;
}

.door-frame {
  border: 15px solid rgb(32, 32, 32);
  border-radius: 8px;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.door-hinges {
  position: relative;
  height: 100%;
  width: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hinge {
  width: 100%;
  height: 30px;
  background-color: black;
  position: absolute;
  border-radius: 100vw;
  top: var(--top);
}

.door {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.door__front {
  border-radius: 3px;
  background-color: rgb(82, 22, 22);
  width: 100%;
  height: 100%;
  transform-origin: right;
  transform: perspective(2000px);
  display: flex;
  align-items: center;
  animation: open-close 5s linear infinite alternate;
  padding: 8px;
  /* backface-visibility: hidden; */
}

.door-handle {
  background-color: black;
  width: 20px;
  height: 60px;
  border-radius: 100vw;
  position: relative;
}

@keyframes open-close {
  to {
    transform: rotateY(180deg);
  }
}
