@import url(../style-2.css);

body {
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.frame {
  position: relative;
  width: 460px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel {
  --card-pos: 45.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(var(--card-pos));
  gap: 3em;
  transition: 2s;
  animation: 10s translate ease-in-out alternate;
}

.card {
  min-width: 140px;
  min-height: 200px;
  width: calc(60vh - calc(0.1vh + 80px));
  height: 70vh;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 4px rgba(32, 18, 18, 0.5);
  transition: 1s;
}

.card__scaled {
  transform: scale(1.2, 1.2);
  z-index: 2;
}

.mover {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}

.mover:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.mover:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.mover__right {
  right: 0;
}

.mover__left {
  left: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card:first-of-type {
  filter: contrast(85%);
  overflow: hidden;
}

.card:first-of-type > img {
  transform: scale(1.1, 1.1);
}

@keyframes translate {
  from {
    transform: translateX(-45%);
  }

  to {
    transform: translateX(45%);
  }
}
